<ion-header>
  <ion-toolbar>
    <ion-title>MyApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú Profesor</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="cerrarSesion()">Cerrar Sesión</ion-item>
        <ion-item (click)="verAsistencia()">Ver Asistencia</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Lista de alumnos y botones de asistencia -->
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      {{ alumno.nombre }}
      <ion-button (click)="marcarAsistencia(alumno)">Presente</ion-button>
      <ion-button (click)="marcarAusencia(alumno)">Ausente</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
