ion-content {
    --background: #f8f8f8;
  }
  
  ion-thumbnail {
    width: 80px;
    height: 120px;
  }
  
  ion-label {
    h2 {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    p {
      font-size: 0.9rem;
      color: #666;
    }
  }
  
  ion-content {
    background-image: url('/src/assets/fondo/flor.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(219, 116, 116); /* Cambia el color del texto para mejorar la legibilidad */
  }
  